html,
body {
     width: 100%;
     height: 100%;
     overflow: hidden;
     -webkit-touch-callout: none;
     /* iOS Safari */
     -webkit-user-select: none;
     /* Safari */
     -khtml-user-select: none;
     /* Konqueror HTML */
     -moz-user-select: none;
     /* Old versions of Firefox */
     -ms-user-select: none;
     /* Internet Explorer/Edge */
     user-select: none;
     font-family: 'Times New Roman', Times, serif;
     letter-spacing: 1px;
     display: none;
}

#particles-js {
     width: 100%;
     height: 100%;
     background-color: black;
     background-size: cover;
     background-position: 50% 50%;
     background-image: radial-gradient(circle, rgba(255, 255, 255, 0.08) 10%, rgba(0, 0, 0, 0.8) 70%);
}

#count {
     position: absolute;
     top: 80%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 3em;
     stroke: white;
}

#mainnav {
     position: absolute;
     top: 30px;
     left: 30px;
     font-family: 'Roboto Condensed', sans-serif;
     z-index: 1;
}

#mainnav li {
     margin: 55px 200px;
     position: relative;
     display: none;
}

#mainnav a {
     color: #fff;
     font-size: 3em;
     cursor: pointer;
     text-decoration: none;
}

#mainnav a:hover {
     text-decoration: underline;
}

.hamb {
     position: absolute;
     top: 30px;
     left: 30px;
     font-size: 2.5em;
     z-index: 1;
     display: none;
}

.hamb a {
     color: #1cb096;
}

.hamb a:hover {
     color: #1cb096;
     opacity: 1;
     cursor: pointer;
}

#bubble {
     width: 95%;
     height: 1%;
     opacity: 0.7;
     position: absolute;
     display: none;
     z-index: 1;
     background: rgba(0, 0, 0, 0.5);
}

.mycontainer {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.av-bg-logo {
     position: absolute;
     top: 45.5%;
     left: 50%;
     transform: translate(-50%, -50%);
     opacity: .1;
     width: 200vw;
     height: 200vh;
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     background-image: url(../img/ext/back.png);
}

.memberteam {
     width: 90%;
     height: 200px;
     border: 11px solid transparent;
     border-image: url(/asset/img/ext/frame.png) 120 stretch;
     -webkit-appearance: none !important;
     box-sizing: content-box;
     overflow: hidden;
}

.memberteam h5 {
     text-align: center;
     justify-content: center;
     position: relative;
     color: white;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.memberteam:hover {
     border: 11px solid transparent;
     border-image: url(/asset/img/ext/frame1.png) 120 stretch;
     transition: all 0.4s ease-in;
     /*
    transform: scale(1.1); */
}

.memberteam-item {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 100%;
}

.memberteam-item img {
     position: absolute;
     width: 100%;
     height: 100%;
     opacity: 0.4;
     z-index: -1;
}

.memberteam:hover .memberteam-item img {
     transition: all 0.4s ease-in-out;
     transform: scale(1.5);
}

.myrow {
     border: 0px solid black;
}

.mycol {
     border: 0px solid black;
     padding-top: 10px;
     padding-bottom: 10px;
     overflow: hidden;
}

.modal-header,
.modal-body,
.close {
     background-color: black;
     color: white !important;
}

.close {
     font-size: 2.1rem !important;
     opacity: .5 !important;
}

.close:hover {
     opacity: 1 !important;
}

.modal-header {
     border-bottom: 0 none !important;
}

.modal-dialog {
     /*position: absolute;*/
     margin-top: 15vh !important;
}

#av-section {
     display: none;
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     padding: 100px 10px;
     /* overflow-y: scroll; */
}

#av-section .cnt {
     position: relative;
     width: 100%;
     overflow-y: scroll;
     height: 100%;
}

.csr-pointer {
     cursor: pointer;
}

.scroll::-webkit-scrollbar {
     width: 12px;
}

.scroll::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*=================================================================
Our Team
==================================================================*/
.row-center {
     justify-content: center;
}

.team-member {
     background-color: black;
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
}

.team-member:hover .mask {
     cursor: pointer;
     opacity: 1;
     filter: alpha(opacity=100);
     -webkit-transform: rotateY(0deg) scale(1, 1);
     transform: rotateY(0deg) scale(1, 1);
}

.member-photo {
     overflow: hidden;
     position: relative;
}

@media (max-width: 768px) {
     .member-photo {
          text-align: center;
     }
}

.member-photo:hover img {
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
}

.member-photo img {
     width: 100%;
     -webkit-transition: all 0.4s ease 0s;
     transition: all 0.4s ease 0s;
}

@media (max-width: 768px) {
     .member-photo img {
          display: inline-block;
     }
}

.member-photo .mask {
     background-color: rgba(0, 0, 0, 0.6);
     position: absolute;
     text-align: center;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     opacity: 0;
     filter: alpha(opacity=0);
     -webkit-transition: all .5s ease-out 0s;
     transition: all .5s ease-out 0s;
     -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
     transform: rotateY(180deg) scale(0.5, 0.5);
}

.member-photo .mask ul {
     justify-content: center;
     display: flex;
     text-align: center;
     position: relative;
     top: 50%;
}

.member-photo .mask ul li a {
     border: 1px solid white;
     margin: 4px;
     color: white;
     display: block;
     font-size: 20px;
     height: 35px;
     line-height: 35px;
     text-align: center;
     width: 40px;
}

.member-photo .mask ul li a:hover {
     text-decoration: none;
     background-color: #1cb096;
     color: black;
     border: 1px solid transparent;
}

.member-meta {
     padding: 10px;
     border-top: 1px solid #1cb096;
}

.member-meta h4 {
     margin: 0 0 5px;
     font-size: 20px;
}

.member-meta span {
     font-size: 12px;
}

/* background lock and blur */
#bg-blur {
     display: none;
     background-color: rgba(0, 0, 0, .3);
     filter: blur(20px);
     width: 100%;
     height: 100%;
     z-index: 0;
     position: fixed;
     top: 0;
     left: 0;
}

.front-footer {
     position: absolute;
     width: 100%;
     top: 85%;
     transform: translate(0%, 0%);
     height: 100px;
     display: none;
}

.shadow {
     box-shadow: -1px -1px 10px !important;
}

/*---------------------HOME PAGE SOCIAL ICON BAR RIGHT CORNER-------------------*/
.cornersocialicon {
     position: absolute;
     top: 50%;
     left: 80%;
     transform: translate(0%, -50%);
     opacity: .8;
}

.btn {
     display: inline-block;
     width: 55px;
     height: 55px;
     background: #f1f1f1;
     margin: 5px;
     border-radius: 30%;
     box-shadow: 0 5px 15px -5px #00000070;
     color: #1cb096;
     overflow: hidden;
     position: relative;
}

.btn i {
     line-height: 45px;
     font-size: 25px;
     transition: 0.2s linear;
}

.btn:hover i {
     transform: scale(1.3);
     color: #f1f1f1;
}

.btn::before {
     content: "";
     position: absolute;
     width: 120%;
     height: 120%;
     background: #1cb096;
     transform: rotate(45deg);
     left: -110%;
     top: 90%;
}

.btn:hover::before {
     animation: aaa 0.7s 1;
     top: -10%;
     left: -10%;
}

@keyframes aaa {
     0% {
          left: -110%;
          top: 90%;
     }

     50% {
          left: 10%;
          top: -30%;
     }

     100% {
          top: -10%;
          left: -10%;
     }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .mycontainer {
          top: 0%;
          transform: translate(-50%, 0%);
     }

     .clock {
          position: relative !important;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
     }

     .cornersocialicon {
          position: relative;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
     }

     .front-footer {
          top: auto;
          bottom: 0;
          height: auto;
     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
     .mycontainer {
          top: 0%;
          transform: translate(-50%, 0%);
     }

     .clock {
          position: relative !important;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
     }

     .cornersocialicon {
          position: relative;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
     }

     .front-footer {
          top: auto;
          bottom: 0;
          height: auto;
     }
}

/* Events */
#events {
     height: 100%;
}

.eventmain {
     position: absolute;
     bottom: 0;
     min-width: 100%;
     min-height: 90%;
}

#events .myrow1 {
     position: relative;
     height: 77%;
}

#events .myrow2 {
     position: relative;
     height: 23%;
}

.eventcolumn {
     width: 65%;
     height: 70px;
     border: 11px solid transparent;
     border-image: url(../img/ext/frame.png) 120 stretch;
     -webkit-appearance: none !important;
     box-sizing: content-box;
     overflow: hidden;
}

.eventcolumn:hover {
     border-image: url(/asset/img/ext/frame1.png) 120 stretch;
     transition: all 0.4s ease-in;
}

.eventcolumn h5 {
     text-align: center;
     justify-content: center;
     position: relative;
     color: white;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.eventcolumn-item {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 100%;
}

.row-centered {
     justify-content: space-evenly;
}

.col-centered {
     display: inline-block;
     float: none;
     background-color: #ccc;
}

.maingridabsolute {
     position: absolute;
     top: 10%;
     left: 0%;
     height: 80%;
     width: 100%;
}

.eventitem {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0%;
     left: 0%;
     overflow: hidden;
     box-shadow: 1px 1px 5px dodgerblue;
}

.eventitem img {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: fill;
     opacity: 1;
}

.eventitem:hover {
     cursor: pointer;
}

/* -----------------abstract class---------------- */
.topnav {
     overflow: hidden;
     background-color: #0066ff;
}

.topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}

.topnav a:hover {
     background-color: #ddd;
     color: black;
     text-decoration: underline;
}

.topnav a.active {
     background-color: #ff4d4d;
     color: white;
}

.vl {
     position: relative;
     border-right: 1px solid red;
     height: 500px;
}

@media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {
          display: none;
     }

     .topnav a.icon {
          float: right;
          display: block;
     }
}

@media screen and (max-width: 600px) {
     .topnav.responsive {
          position: relative;
     }

     .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
     }

     .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
     }
}

/* --------------------------------------------------------------------------------- */
#events .events {
     position: absolute;
     /* border: 2px solid yellowgreen; */
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

#events .events h6 {
     text-align: center;
     color: white;
}

@-webkit-keyframes moveup {

     0%,
     60%,
     100% {
          -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
     }

     25% {
          -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
     }
}

@keyframes moveup {

     0%,
     60%,
     100% {
          -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
     }

     25% {
          -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
     }
}

@-webkit-keyframes movedown {

     0%,
     60%,
     100% {
          -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
     }

     25% {
          -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
     }
}

@keyframes movedown {

     0%,
     60%,
     100% {
          -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
     }

     25% {
          -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
     }
}

/**
    * Square layer styles
    */

.loader {
     position: fixed;
     width: 100vw;
     height: 100vh;
     top: 0;
     background: black;
     opacity: 1;
     z-index: 1;
     display: none;
}


.layer {
     display: block;
     position: absolute;
     height: 3em;
     width: 3em;
     box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
     -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
     transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
}

.layer:nth-of-type(1) {
     background: #534a47;
     margin-top: 1.5em;
     -webkit-animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
     animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
}

.layer:nth-of-type(1):before {
     content: '';
     position: absolute;
     width: 85%;
     height: 85%;
     background: #37332f;
}

.layer:nth-of-type(2) {
     background: #1cb096;
     margin-top: 0.75em;
}

.layer:nth-of-type(3) {
     background: rgba(255, 255, 255, 0.6);
     -webkit-animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
     animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
}

/* Stage and link styles */
body {
     background: #1c2336;
}

.container {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.link {
     position: absolute;
     top: 30%;
     left: 50%;
     color: rgba(255, 255, 255, 0.5);
     font: 400 1em Helvetica Neue, Helvetica, sans-serif;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.link a {
     color: #ea4c89;
     text-decoration: none;
}

@-webkit-keyframes fadeIn {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

@keyframes fadeIn {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

.fadeIn {
     -webkit-animation-name: fadeIn;
     animation-name: fadeIn;
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
}

/* End Events */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}